@import "themes/nebula";

/* Reset selectivo */
window { background-color: transparent; }
* { font-family: "MesloLGM Nerd Font Mono"; }

.conky-main-container { 
  padding: 20px; 
  background-color: rgba($bg, 0.01);
}

/* COLUMNA IZQUIERDA */
.conky-time-big {
  font-size: 100px;
  font-weight: 900;
  color: $fg;
  margin: -15px 0;
}

.conky-day-name {
  font-size: 18px;
  font-weight: bold;
  color: $purple;
  letter-spacing: 2px;
}

.conky-day-date {
  font-size: 14px;
  color: rgba($fg, 0.6);
}

/* COLUMNA DERECHA */
.conky-panel {
  background-color: rgba($bg-alt, 0.7);
  border: 1px solid rgba($fg, 0.1);
  border-radius: 15px;
  padding: 10px;
  min-width: 210px;
  min-height: 140px;
}

/* ANILLOS (APILADOS VERTICALMENTE) */
.ring-container {
  background-color: rgba($fg, 0.05);
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}

circular-progress {
  min-width: 50px;
  min-height: 50px;
}

.ring-cpu { color: $blue; }
.ring-ram { color: $yellow; }
.ring-disk { color: $green; }
.ring-icon { font-size: 16px; color: $fg; }

.conky-stat-text {
  font-size: 11px;
  font-weight: bold;
  color: $fg;
}

/* CLIMA */
.conky-loc-text { font-size: 13px; color: rgba($fg, 0.5); font-weight: bold; }
.conky-temp-text { font-size: 36px; font-weight: 900; color: $cyan; }
.conky-cond-text { font-size: 14px; color: $fg; }
.conky-vis-text { font-size: 12px; color: rgba($fg, 0.5); }

/* RED */
.conky-wifi-ssid { font-size: 13px; font-weight: bold; color: $purple; }
.conky-net-label { font-size: 11px; color: rgba($fg, 0.7); font-weight: bold; }

/* Nuevo estilo para los graficos */
.conky-net-graph-down {
  min-height: 42px;
  color: #f87171;
}

.conky-net-graph-up {
  min-height: 42px;
  color: #5b85f9;
}

/* BARRA ORIGINAL */
.bar-container {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 12px; 
  padding: 0px 10px;
  min-height: 25px;
}

.module {
  background-color: rgba($bg-alt, 0.6); 
  padding: 0px 8px; 
  margin: 2px 4px; 
  border-radius: 4px;
}
.workspaces-button {
  padding: 0px 4px;
  margin: 0px 2px;
  min-width: 10px;
  background-color: rgba($bg-alt, 0.1);
  border-radius: 4px;
  border: none;
  color: $fg;
}

.workspaces-button.active {
/*  background-color: rgba($fg, 0.2);*/
  color: $purple;
}

.ws-icon { font-size: 10px; }
.clock { font-weight: bold; color: $fg; }
.network { color: $blue; }
.audio { color: $purple; }
.backlight { color: $yellow; }
.battery { color: $green; }
.bluetooth { color: $blue; }
.power-icon { color: $red; }
.lock-icon { color: $cyan; }
.suspend-icon { color: $yellow; }
.reboot-icon { color: $green; }

.calendar-container {
  background-color: $bg;
  border-radius: 12px;
  padding: 10px;
  border: none;
}

calendar {
  border: none;
}
