$bg: #15171e;
$bg-alt: #232530;
$fg: #c8c9d1;
$blue: #7d8ac2;
$cyan: #7da8c2;
$green: #8da68a;
$purple: #9a8ac2;
$red: #b07a7a;
$yellow: #b8a07a;

$accent1: $red;
$accent2: $green;
$accent3: $yellow;
$accent4: $blue;
$accent5: $purple;
$accent6: $cyan;
