$bg: #090a0f;
$bg-alt: #161824;
$fg: #e1e4fa;
$blue: #5b85f9;
$cyan: #56e3ff;
$green: #4ade80;
$purple: #c084fc;
$red: #f87171;
$yellow: #fbbf24;

$accent1: $red;
$accent2: $green;
$accent3: $yellow;
$accent4: $blue;
$accent5: $purple;
$accent6: $cyan;
